# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Database
db.sqlite3
*.sqlite3

# Environment Variables
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Media & Static
media/
static/

# OS Files
.DS_Store
Thumbs.db
